<!-- Футер -->
<footer>
    <p>&copy; Все права защищены. <a href="https://s01.cdn.pegast.ru/get/6b/22/bc/e9e40f69c9c629f7445dc32489a006895608fdaa80716b074ffd4e68cd/pd-pegas-Touristik-msk.pdf" target="_blank">Политика конфиденциальности</a></p>
</footer>
