<style>
    .sidebar {
        background-color: #1e1e2f;
        padding: 20px;
        border-radius: 10px;
        color: #fff;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 250px; /* Фиксированная ширина */
    }

    .sidebar-link {
        display: block;
        color: #ffffff; /* Белый цвет */
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }


        .sidebar-link:hover {
            background-color: #ff6f61;
            color: #fff;
        }

    .partners {
        margin-top: 20px;
        text-align: center;
    }

    .partners-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .partner-link {
        display: inline-block;
        margin: 0 10px;
    }

    .partner-logo {
        max-width: 100px;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s, box-shadow 0.3s;
    }

        .partner-logo:hover {
            transform: scale(1.1);
            box-shadow: 0 4px 8px rgba(255, 111, 97, 0.6);
        }
</style>

    <!-- Сайдбар -->
<div class="sidebar">
    <a href="@Url.Action("Index", "Home")">Главная</a>
    <a href="@Url.Action("Sale", "Home")">Распродажа</a>
    <a href="@Url.Action("News", "Home")">Новинки</a>
    <a href="@Url.Action("Contact", "Home")">Наши контакты</a>

    <!-- Партнёры -->
    <div class="partners">
        <h2>Наши партнеры</h2>
        <a href="https://fstravel.com/"><img src="https://storage.yandexcloud.net/web-cterx/logo.svg" alt="Fun&Sun"></a>
        <a href="https://sletat.ru/b2c"><img src="https://storage.yandexcloud.net/web-cterx/medium_dadd0ca6abcb34db788d937f8b7fde91.png" alt="fly"></a>
        <a href="https://www.ikea.com"><img src="https://storage.yandexcloud.net/web-cterx/ikea.png" alt="ikea"></a>
    </div>
</div>
