@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Контент страницы "Контакты" -->
    <div class="content">
        <h1 align="center">Наши контакты</h1>
        <p>
            <ul type="circle">
                <li><a href = "https://vk.com/stolplt"> Наша группа в ВК</a></li>
                <li><a href = "https://t.me/stolpltru"> Наш tg</a></li>
            </ul>	
        </p>
        <!-- Адрес -->
        <h3>Наш адрес: Ташкенская 34./1, Москва. Метро Кузьминки</h3>
        <a href="https://www.google.com/maps/place/%D0%A1%D1%82%D0%BE%D0%BB%D0%BF%D0%BB%D0%B8%D1%82/55.7524986,37.8126082,16.5z/data=!4m10!1m2!2m1!1z0YHRgtC-0LvQv9C70LjRgiDQvNC-0YHQutCy0LAg0LDQtNGA0LXRgdCw!3m6!1s0x414acba2c17beddb:0xdc58210742d1c999!8m2!3d55.7527929!4d37.8192762!15sCirRgdGC0L7Qu9C_0LvQuNGCINC80L7RgdC60LLQsCDQsNC00YDQtdGB0LAiBUgBiAEBWh8iHdGB0YLQvtC70L_Qu9C40YIg0LzQvtGB0LrQstCwkgEPZnVybml0dXJlX3N0b3Jl4AEA!16s%2Fg%2F11sg87cxd5?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D"
           target="_blank">
        <img src="~/images/adres.jpg" alt="Адрес" width="400" height="300">
        </a>
    </div>