@{
    Layout = "~/Views/Layout.cshtml";
}
<div class="content">
    <h1 align="center">Наши новые предложения!</h1>
    <!-- Вставка изображений новинок -->
    <table align="center" cellpadding="10">
        <tr>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%801.png" alt="Классические 1" width="400" height="300">
                <p><b>Тур 1</b></p>
            </td>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%802.png" alt="Римские 2" width="400" height="300">
                <p><b>Тур 2</b></p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%803.png" alt="Рулонные 3" width="400" height="300">
                <p><b>Тур 3</b></p>
            </td>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%804.png" alt="Японские 4" width="400" height="300">
                <p><b>Тур 4</b></p>
            </td>
        </tr>
    </table>
</div>