@{
    Layout = "~/Views/Layout.cshtml";
}
<!-- Основной контент распродажи -->
<div class="content">
    <h1 align="center">Дешевые путешествия!</h1>
    <p>
        Акция действует ограниченное время, поэтому не упустите возможность приобрести тур с большой скидкой!
    </p>

    <!-- Вставка изображений -->
    <table align="center" cellpadding="10">
        <tr>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%801.png" alt="Классические 1" width="400" height="300">
                <p><b>тур 1</b><br><i>Теперь со скидкой 30%</i></p>
            </td>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%802.png" alt="Римские 2" width="400" height="300">
                <p><b>тур 2</b><br><i>Скидка до 25%</i></p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%803.png" alt="Рулонные 3" width="400" height="300">
                <p><b>тур 3</b><br><i>Скидка 20%</i></p>
            </td>
            <td align="center">
                <img src="https://storage.yandexcloud.net/web-cterx/%D1%82%D1%83%D1%804.png" alt="Японские 4" width="400" height="300">
                <p><b>тур 4</b><br><i>Скидка до 35%</i></p>
            </td>
        </tr>
    </table>
</div>